astropy==5.2.2
numpy==1.24.4
pandas==2.0.3
paramiko==3.5.1
PySide6==6.6.3.1
PySide6==6.11.0
PySide6_Addons==6.6.3.1
PySide6_Essentials==6.6.3.1
python_dateutil==2.9.0.post0
schedule==1.2.2
scp==0.15.0
